{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Profile: Reihan</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bebas+Neue">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="{% static 'css/Brands.css' %}">
    <link rel="stylesheet" href="{% static 'css/Navigation-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    {% include "menu.html" %}
    <div style="background: url('{{ STATIC_URL }}/static/earth.jpg') center / cover;">
        <div class="container" style="padding: 247px;">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center text-white for-hero">With THE CODE</h1>
                    <h1 class="text-center text-white for-hero">Control the World</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="background-purple">
        <div class="container pad20updown">
            <div class="row">
                <div class="col-md-12">
                    <h2  class="text-center">TALENTED PROGRAMMER ON DEMAND</h1>
                    <hr class="for-hr">
                </div>
            </div>
        </div>
    </div>
    <div class="background-black pad20updown">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">SKILLS</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="background-black pad40updown">
        <div class="container">
            <div class="row">
                <div class="col-md-3"><img class="img-thumbnail img-noborder" src="{{ STATIC_URL }}/static/webdev.jpg">
                    <h2 class="text-break">Web Developer</h1>
                    <p class="lead text-left">With two months of website design experience to provide you with the optimal website solution for your business.<br></p>
                </div>
                <div class="col-md-3"><img class="img-thumbnail img-noborder" src="{{ STATIC_URL }}/static/softdev.jpg">
                    <h2 class="text-break" >Software Developer</h1>
                    <p class="lead text-left">The need for ease of interaction in a business is absolute. I am able to provide solutions that break gaps in business.<br></p>
                </div>
                <div class="col-md-3"><img class="img-thumbnail img-noborder" src="{{ STATIC_URL }}/static/ml.jpg">
                    <h2 class="text-break">Machine Learning</h1>
                    <p class="lead text-left">Tasks that require human intelligence are no longer need humans. Automate anything, increase the profit curve.<br></p>
                </div>
                <div class="col-md-3"><img class="img-thumbnail img-noborder" src="{{ STATIC_URL }}/static/iot.jpeg">
                    <h2 class="text-break">Business Solution</h1>
                    <p class="lead text-left">Take the advantage of technologies that can increase profits for your business WITH ME.<br></p>
                </div>
            </div>
        </div>
    </div>
    <div class="background-purple">
        <div class="container pad20updown">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">CLIENTS</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="brands background-purple"><a href="#"> <img src="{{ STATIC_URL }}/static/instacart.png"><img src="{{ STATIC_URL }}/static/kickstarter.png"><img src="{{ STATIC_URL }}/static/lyft.png"><img src="{{ STATIC_URL }}/static/shopify.png"><img src="{{ STATIC_URL }}/static/pinterest.png"><img src="{{ STATIC_URL }}/static/twitter.png"></a></div>
    <div class="background-black pad40updown">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>Reihan Developer</h1>
                    <hr class="for-hr">
                    <p class="lead"><br>I'm multi-talented developer. I'm used to working alone on a project. If working in a team, team members will only slow down the work. I can also make board decisions better than director himself.</p>
                </div>
                <div class="col" style="padding-top: 100px;padding-left: 85px;">
                    <p class="lead">Blog<br></p>
                    <p class="lead">Contact Form<br></p>
                    <p class="lead">Project Show<br></p>
                    <p class="lead">Privacy and Policy<br></p>
                </div>
            </div>
        </div>
    </div>
    <div class="background-purple pad40updown">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center text-white">(c) 2021 - Reihan Developer. All Rights Reserved</h3>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>
