<div class="background-purple">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-light navbar-expand-md navigation-clean">
                    <div class="container"><a class="navbar-brand" href="{% url 'index' %}">Reihan Developer<a><button data-toggle="collapse" class="navbar-toggler"data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span spanclass="navbar-toggler-icon"></span></button>
                        <div
                            class="collapse navbar-collapse" id="navcol-1">
                            <ul class="nav navbar-nav ml-auto">
                                <li class="nav-item"><a class="nav-link" href="https://mreihanhaekal000webhostapp.com/">Story1</a></li>
                                <li class="nav-item"><a class="nav-link">Blog</a></li>
                                <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                                <li class="nav-item dropdown"><a class="dropdown-toggle nav-link"data-toggle="dropdown" aria-expanded="false" href="#">Dropdown </a>
                                    <div class="dropdown-menu"><a class="dropdown-item"href="#">Nothing here</a><a class="dropdown-item"href="#">Nothing</a><a class="dropdown-item" href="#">Nothing<a></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
