.background-purple{
    background: #00010d;
}
.background-black{
    background: #000000;
}
h1{
    font-size: 80px;
    font-family: 'Bebas Neue', cursive;
    color:white;
}
.for-hr{
    height: 3px;
    background: #ffffff;
}
.pad20updown{
    padding-bottom: 20px;
    padding-top: 20px;
}
.pad40updown{
    padding-bottom: 40px;
    padding-top: 40px;
}
h2{
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    color:white;
}
.img-noborder{
    border-style: none;
    background: rgb(0,0,0);
}
p{
    color: rgb(255,255,255);
    font-family: Roboto, sans-serif;
}
